<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>People</title>
</head>
<body>
<div align="center">
    <h2>People</h2>

    <h3><a href="/new">New Person</a></h3>
    <table border="1" cellpadding="5">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Age</th>
            <th>E-mail</th>
            <th>Action</th>
            <tr th:each="person : ${people}">
            <td th:text="${person.id}"></td>
            <td th:text="${person.name}"></td>
            <td th:text="${person.age}"></td>
            <td th:text="${person.email}"></td>
            <td>
                <a th:href="@{/edit(id=${person.id})}">Edit</a>
                <a th:href="@{/delete(id=${person.id})}">Delete</a>
            </td>
        </tr>
            </tr>
    </table>
</div>
</body>
</html>